/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main>.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 4em;
	font-weight: 600;
}

main>.tagline {
	font-size: 2rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main>.about {
    font-size: 1.5rem;
}

.icons-social i {
	padding: 10px;
}

.fab:hover {
	color: black;
}

:root {
	--mainColor: #992fdf;
}

#links {
	background:
		linear-gradient(to bottom, var(--mainColor) 0%,
		var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	color: #000;
	text-decoration: none;
	transition: background-size .2s;
}

#links:hover {
	background-size: 4px 50px;
}

#me {
	background:
		linear-gradient(to bottom, var(--mainColor) 0%,
		var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	color: #000;
	text-decoration: none;
	transition: background-size .2s;
}

#me:hover {
	background-size: 4px 200px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	;
	width: 2.65rem;
	height: 2.65rem;
}

footer {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-color: #724998;
	font-size: 1rem;
}
