/* Theme */

main {
  /*background: url("../../Images/squirtle.gif") no-repeat center center fixed;
	background-size: cover;*/
  background-color: aliceblue;
  color: #724998;
  /* color: #AF3D4E; */
}

.icons-social a {
  color: #af3d4e;
}

.icons-social a svg path {
  fill: #af3d4e;
}
