/* Theme */

main {
	background: url(https://i.imgur.com/IdXTAaE.gif) no-repeat center center fixed;
	background-size: cover;
	color: #AF3D4E;
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social a svg path {
	fill: #AF3D4E;
}