/* Theme */

main {
	background: url(https://i.imgur.com/VcDun0l.gif) no-repeat center center fixed;
	background-size: cover;
    color: #724998
	/* color: #AF3D4E; */
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social a svg path {
	fill: #AF3D4E;
}